[Desktop Entry]
Name=Dead Space
Comment=Play this game on Steam
Exec=steam steam://rungameid/1693980
Icon=/home/goose/.local/share/icons/gruvbox-flat/dead-space.svg
Terminal=false
Type=Application
Categories=Game;
