[Desktop Entry]
Name=Hades II
Comment=Play this game on Steam
Exec=steam steam://rungameid/1145350
Icon=/home/goose/.local/share/icons/gruvbox-flat/hades-ii.svg
Terminal=false
Type=Application
Categories=Game;
